// preset
$BLUE_COLOR: #1187cf;
$MAIN_COLOR: #d5f7e6;
$SUB_COLOR: #5ae4a8;
$GRAY_COLOR: rgba(0, 0, 0, 0.2);
$BG_COLOR: rgb(247, 247, 247);

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
// global

*::-webkit-scrollbar {
  width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  line-height: 1.2;
}
html {
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
}
li {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  font-size: 0.9rem;
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

// portfolio

.is-current {
  a,
  span {
    color: #1187cf;
  }
  transition: all 0.3s;
}

.profile_table {
  display: none;
}

.bouncer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}

.bouncer div {
  width: 20px;
  height: 20px;
  background-color: #0077ff;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
  /* use https://cubic-bezier.com/ to customize the curve */
}

.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}

.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

//===============blog==================//

li {
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}
ul {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

.space {
  width: 100%;
  height: 5rem;
}

.slick-arrow {
  top: 50%;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
  &:before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
  }
}
.slick-next {
  right: 1%;
  &:hover {
    right: 0;
    transition: all 0.3s;
    &::before {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
.slick-prev {
  left: 1%;
  z-index: 1;
  &:hover {
    left: 0;
    transition: all 0.3s;
    &::before {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.static {
  position: static;
}

.public {
  &_btn {
    position: relative;
    border: none;
    background-color: $BLUE_COLOR;
    color: white;
    border-radius: 3px;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: all 0.1s;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: none;
      content: "";
    }
    &:hover:before {
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid $BLUE_COLOR;
      border-right: none;
      border-bottom: none;
      transition: height 0.4s, width 0.4s;
    }
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border: none;
      content: "";
    }
    &:hover:after {
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid $BLUE_COLOR;
      border-left: none;
      border-top: none;
      transition: height 0.4s, width 0.4s;
    }
    &:hover {
      background-color: #fff;
      color: $BLUE_COLOR;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  &_input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
      border-bottom: 1px solid $BLUE_COLOR;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid $BLUE_COLOR;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.hashtag {
  display: inline-block;
  color: $BLUE_COLOR;
  text-decoration: none !important;
  &:hover {
    font-weight: bold;
  }
}

.blog {
  margin-top: 2rem;
  display: flex;
  &_main {
    width: 70%;
    margin-right: 2rem;
    &_big {
      margin-bottom: 3rem;
      display: block;
    }
    &_count {
      padding: 0 1rem;
      margin: 2rem 0;
      font-size: 2rem;
      .count-number {
        color: $BLUE_COLOR;
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }
  &_header {
    &_small {
      display: none;
    }
    &_social {
      margin-right: 1rem;
    }
    &_logout {
      position: absolute;
      bottom: -2rem;
      right: 0;
      margin-right: 1.4rem;
    }
    &_login {
      position: absolute;
      bottom: -2rem;
      right: 1.15rem;
      display: flex;
      .btn_login {
        margin-right: 1.5rem;
      }
      .btn_google {
        display: flex;
        align-items: center;
        img {
          margin-left: 0.3rem;
          width: 0.9rem;
        }
      }
    }
    &_ul {
      display: flex;
      align-items: center;
      margin: 0;
      .icon {
        font-size: 1.5rem;
      }
    }
    &_li {
      margin-right: 3rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
        align-items: center;
        background-image: linear-gradient(transparent calc(100% - 1.5px), $BLUE_COLOR 5px);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        &:hover {
          animation: underLining 0.2s forwards;
        }
      }
    }
    &_profile {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 1rem;
      margin-top: 1rem;
      background-color: white;
      position: relative;
    }
    &_nav {
      transition: all 0.5s;
      width: 100%;
      height: 70px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
    &_small_nav {
      display: none;
    }
  }

  &_aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    &_tag {
      padding: 1rem;
      li {
        margin: 0.5rem 1rem 0.5rem 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .icon {
      width: 3rem;
      margin-right: 1rem;
    }
  }

  &_footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: 120px;
    background-color: #121212;
    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1120px;
      color: white;
      height: 100%;
      padding: 3rem 2rem;
      ul {
        display: flex;
        align-items: center;
        margin: 0;
      }
      li {
        a {
          color: white;
        }
      }
      @media only screen and (max-width: 1120px) {
        width: 100%;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      li {
        padding: 0.7rem 1.5rem;
      }
    }
  }

  &_post {
    &_selected {
      .ant-timeline-item-head {
        border-color: $BLUE_COLOR;
      }
    }
    &_article {
      width: 850px;
    }
    &_divier {
      width: 850px;
    }
  }
  &_comment {
    &_deleteModal {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.6);
      .confirmBtn {
        color: white;
        font-size: 1.3rem;
        margin: 0.5rem 1rem 0 1rem;
        &:hover {
          color: $BLUE_COLOR;
        }
      }
    }
  }
  &_md {
    &_aside {
      display: none;
    }
  }
}

.comment {
  &_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 8px 21px 1px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
  }
  &_btn {
    margin-top: 1rem;
    width: 30%;
    float: right;
  }
  &_textArea {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100px !important;
  }
}

.pageWrapper {
  margin-top: 3rem;
  padding: 0 2rem;
  position: relative;
  .page {
    max-width: 1120px;
    margin: 0 auto;
  }
}
.logo {
  width: 560px;
}
.space_small_on {
  height: 3rem;
  display: none;
}

.header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  &_logo {
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
    background-color: white;
  }
}

.youtube {
  width: 100%;
  height: 500px;
}

.login {
  display: flex;
  justify-content: space-between;
  &_form {
    width: 45%;
  }
  &_image {
    width: 45%;
  }
  &_title {
    margin: 3rem 0;
    h1 {
      font-size: 3.3rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
  &_image {
    display: flex !important;
    align-items: center !important;
  }
  &_space {
    height: 5em;
  }
}
.br_search {
  display: none;
}

.search_title {
  margin: 4rem 1rem;
  font-size: 2.3rem;
  line-height: 1.3;
  span:first-of-type {
    color: $BLUE_COLOR;
  }
  span:last-child {
    color: BLUE_COLOR;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
}

.post_main_title {
  margin-top: 5rem;
  font-size: 3rem;
}

.tui-editor-contents {
  h1 {
    font-size: 1.6rem;
    margin: 1.5rem 0;
  }
  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }
  h3 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
  h4 {
    margin: 1.5rem 0;
  }
  img {
    width: 65%;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.8;
    margin: 0;
    padding-bottom: 1rem;
  }
  blockquote {
    border-left: 5px solid $BLUE_COLOR;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0.5rem 1rem;
    p {
      padding: 0;
    }
  }
  ul {
    list-style-type: disc;
    list-style: inherit;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style: decimal;
    list-style-position: inside;
  }
  li {
    display: list-item;
    list-style: inherit;
    list-style-position: inside;
    p {
      padding: 0;
      display: initial;
    }
  }
  span {
    font-size: 1rem;
  }
  [data-backticks] {
    background-color: $BLUE_COLOR;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin-right: 0.2rem;
    font-size: 0.7rem;
  }
  pre {
    margin: 2px 0 8px;
    padding: 1rem;
    font-size: 0.83rem;
    span {
      font-size: 0.83rem;
    }
    line-height: 1.7;
    background-color: #f4f7f8;
  }
}

.comment_main_content {
  width: 100%;
  display: flex;
  div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  div:last-child {
    margin-left: 2rem;
    width: 100%;
    a {
      font-size: 1rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    span {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 3rem !important;
  .ant-input {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.edit_form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
//===== BLOG MEDIA QUERY=========

@media only screen and (max-width: 992px) {
  .blog {
    display: block;
    &_main {
      width: 100%;
    }
    &_aside {
      display: none;
    }
    &_md {
      &_aside {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .remocontrol {
    display: none;
  }
  .fixed {
    padding: 0 !important;
    z-index: 2;
  }
  .post_main_title {
    margin-top: 3rem;
    font-size: 2rem;
  }
  .pageWrapper {
    padding: 0 1rem;
  }
  .space_small_on {
    height: 3rem;
    display: block;
  }
  .header_logo {
    display: none;
  }
  .header_small_on {
    display: block;
  }
  .login {
    flex-direction: column-reverse;
    align-items: center;
    &_form {
      width: 80%;
    }
    &_image {
      width: 80%;
    }
  }
  .blog {
    &_category_header {
      display: block;
    }
    &_post {
      &_article {
        width: 100%;
      }
      &_divier {
        width: 100%;
      }
    }
    &_header {
      &_nav {
        display: none;
      }
      &_loginout {
        display: none;
      }
      &_small {
        display: block;
        &_nav {
          width: 100%;
          height: 70px;
          top: 0;
          left: 0;
          position: fixed;
          display: flex;
          justify-content: space-between;
          background-color: white;
          padding: 0 1rem;
          z-index: 2;
        }
      }
    }
  }
  .slide_title {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    position: absolute;
    background-color: white;
    top: 68px;
    left: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 1;
    animation: fadeIn 0.5s;
  }
  .slide_menu {
    width: 100%;
    padding: 1rem;
    position: absolute;
    background-color: white;
    top: 68px;
    left: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 1;
    li {
      width: 100%;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .youtube {
    height: 400px;
  }
  .tui-editor-contents {
    img {
      width: 100%;
    }
    p {
      font-size: 13px;
    }
    span {
      font-size: 13px;
    }
  }
  .blog {
    &_footer {
      &_wrapper {
        div {
          text-align: center;
        }
        display: block;
        padding: 1.5rem 1rem;
        ul {
          margin-top: 1.5rem;
          justify-content: center;
        }
      }
      &_content {
        display: flex;
        flex-direction: column;
        li {
          padding: 0.7rem 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .blog_aside_tag {
    padding: 0;
  }
  .youtube {
    height: 300px;
  }
  .poster_slider {
    width: 100%;
  }
  .profile_table {
    display: block;
  }
  .search_title {
    margin: 3rem 1rem;
    font-size: 1.4rem;
  }
  .login {
    &_title {
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 0.8rem;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .pageWrapper {
    position: relative;
  }
  .logo {
    width: 80%;
  }
  .comment {
    &_img {
      width: 50px;
      height: 50px;
      box-shadow: 3px 6px 16px 1px rgba(0, 0, 0, 0.15);
    }
    &_btn {
      width: 60%;
    }
    &_textArea {
      height: 70px !important;
    }
  }
  .blog {
    &_category {
      &_header {
        margin: 3rem 1rem;
        font-size: 2rem;
      }
      &_count {
        color: $BLUE_COLOR;
        margin: 0 1rem;
        font-size: 1.2rem;
      }
    }
    &_main {
      &_big {
        margin-bottom: 3rem;
        display: none;
      }
      &_small {
        display: flex;
      }
    }
  }
}
@media only screen and (max-width: 490px) {
  .blog_footer_list {
    li {
      a {
        font-size: 0.65rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .youtube {
    height: 200px;
  }
  .slide_menu {
    li {
      font-size: 0.8rem;
    }
  }
  .post_main_title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .blog {
    &_category_count {
      margin: 0;
    }
  }
}
