// ===========PRESET==================
$BLUE_COLOR: #1187cf;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

// ===========GLOBAL==================

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  line-height: 1.2;
}
html {
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
}
li {
  display: inline-block;
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}

h1 {
  font-size: 4rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  font-size: 0.9rem;
}

// ===========KEYFRAMES==================

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 3rem !important;
  .ant-input {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.static {
  position: static;
}
.body-margin {
  height: 63px;
  display: none;
  @media (max-width: 830px) {
    display: block;
  }
}

// qurified

.profile_table {
  display: none;
}

.selected {
  .ant-timeline-item-head {
    border-color: $BLUE_COLOR;
  }
}

.slick-arrow {
  top: 50%;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
  &:before {
    color: white;
    font-size: 2rem;
  }
}
.slick-next {
  right: 1%;
  &:hover {
    right: 0;
    transition: all 0.3s;
  }
}
.slick-prev {
  left: 1%;
  z-index: 1;
  &:hover {
    left: 0;
    transition: all 0.3s;
  }
}

.public {
  &_btn {
    position: relative;
    border: none;
    background-color: $BLUE_COLOR;
    color: white;
    border-radius: 3px;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: all 0.1s;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: none;
      content: "";
    }
    &:hover:before {
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid $BLUE_COLOR;
      border-right: none;
      border-bottom: none;
      transition: height 0.4s, width 0.4s;
    }
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border: none;
      content: "";
    }
    &:hover:after {
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid $BLUE_COLOR;
      border-left: none;
      border-top: none;
      transition: height 0.4s, width 0.4s;
    }
    &:hover {
      background-color: #fff;
      color: $BLUE_COLOR;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  &_input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
      border-bottom: 1px solid $BLUE_COLOR;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid $BLUE_COLOR;
    }
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  li {
    padding: 0.7rem 1.5rem;
  }
}

// qurified

.blog {
  margin-top: 2rem;
  display: flex;
  &_main {
    width: 70%;
    margin-right: 2rem;
    &_count {
      padding: 0 1rem;
      margin: 2rem 0;
      font-size: 2rem;
      .count-number {
        color: $BLUE_COLOR;
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }
  &_header {
    &_profile {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 1rem;
      margin-top: 1rem;
      background-color: white;
      position: relative;
    }
  }

  &_aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    &_tag {
      padding: 1rem;
      li {
        margin: 0.5rem 1rem 0.5rem 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &_md {
    &_aside {
      display: none;
    }
  }
}

.search_title {
  margin: 4rem 1rem;
  font-size: 2.3rem;
  line-height: 1.3;
  span:first-of-type {
    color: $BLUE_COLOR;
  }
  span:last-child {
    color: BLUE_COLOR;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
}

//===== BLOG MEDIA QUERY=========

@media only screen and (max-width: 992px) {
  .blog {
    display: block;
    &_main {
      width: 100%;
    }
    &_aside {
      display: none;
    }
    &_md {
      &_aside {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .blog {
    &_category_header {
      display: block;
    }
    &_post {
      &_article {
        width: 100%;
      }
      &_divier {
        width: 100%;
      }
    }
    &_header {
      &_nav {
        display: none;
      }
      &_loginout {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer-list {
    li {
      padding: 0.7rem 1.5rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .blog_aside_tag {
    padding: 0;
  }
  .youtube {
    height: 300px;
  }
  .poster_slider {
    width: 100%;
  }
  .profile_table {
    display: block;
  }
  .search_title {
    margin: 3rem 1rem;
    font-size: 1.4rem;
  }
  .logo {
    width: 80%;
  }
  .comment {
    &_btn {
      width: 60%;
    }
    &_textArea {
      height: 70px !important;
    }
  }
  .blog {
    &_category {
      &_header {
        margin: 3rem 1rem;
        font-size: 2rem;
      }
      &_count {
        color: $BLUE_COLOR;
        margin: 0 1rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .blog {
    &_category_count {
      margin: 0;
    }
  }
}
