@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

*::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  line-height: 1.2;
}

html {
  overflow-x: hidden;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 0.5rem;
}

li:last-child {
  margin-right: 0;
}

h1 {
  font-size: 4rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  font-size: 0.9rem;
}

@-webkit-keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 3rem !important;
}

.fixed .ant-input {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.static {
  position: static;
}

.body-margin {
  height: 63px;
  display: none;
}

@media (max-width: 830px) {
  .body-margin {
    display: block;
  }
}

.profile_table {
  display: none;
}

.selected .ant-timeline-item-head {
  border-color: #1187cf;
}

.slick-arrow {
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-arrow:before {
  color: white;
  font-size: 2rem;
}

.slick-next {
  right: 1%;
}

.slick-next:hover {
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-prev {
  left: 1%;
  z-index: 1;
}

.slick-prev:hover {
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.public_btn {
  position: relative;
  border: none;
  background-color: #1187cf;
  color: white;
  border-radius: 3px;
  padding: 0.3rem 0;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.public_btn:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  content: "";
}

.public_btn:hover:before {
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #1187cf;
  border-right: none;
  border-bottom: none;
  -webkit-transition: height 0.4s, width 0.4s;
  transition: height 0.4s, width 0.4s;
}

.public_btn:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: none;
  content: "";
}

.public_btn:hover:after {
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #1187cf;
  border-left: none;
  border-top: none;
  -webkit-transition: height 0.4s, width 0.4s;
  transition: height 0.4s, width 0.4s;
}

.public_btn:hover {
  background-color: #fff;
  color: #1187cf;
}

.public_btn:focus {
  border: none;
  outline: none;
}

.public_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0);
}

.public_input:hover {
  border-bottom: 1px solid #1187cf;
}

.public_input:focus {
  outline: none;
  border-bottom: 1px solid #1187cf;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list li {
  padding: 0.7rem 1.5rem;
}

.blog {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog_main {
  width: 70%;
  margin-right: 2rem;
}

.blog_main_count {
  padding: 0 1rem;
  margin: 2rem 0;
  font-size: 2rem;
}

.blog_main_count .count-number {
  color: #1187cf;
  font-size: 1rem;
  margin-left: 1rem;
}

.blog_header_profile {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  position: relative;
}

.blog_aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_aside_tag {
  padding: 1rem;
}

.blog_aside_tag li {
  margin: 0.5rem 1rem 0.5rem 0;
}

.blog_aside_tag li:last-child {
  margin-right: 0;
}

.blog_md_aside {
  display: none;
}

.search_title {
  margin: 4rem 1rem;
  font-size: 2.3rem;
  line-height: 1.3;
}

.search_title span:first-of-type {
  color: #1187cf;
}

.search_title span:last-child {
  color: BLUE_COLOR;
  margin: 0 1rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .blog {
    display: block;
  }
  .blog_main {
    width: 100%;
  }
  .blog_aside {
    display: none;
  }
  .blog_md_aside {
    display: block;
  }
}

@media only screen and (max-width: 830px) {
  .blog_category_header {
    display: block;
  }
  .blog_post_article {
    width: 100%;
  }
  .blog_post_divier {
    width: 100%;
  }
  .blog_header_nav {
    display: none;
  }
  .blog_header_loginout {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer-list li {
    padding: 0.7rem 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .blog_aside_tag {
    padding: 0;
  }
  .youtube {
    height: 300px;
  }
  .poster_slider {
    width: 100%;
  }
  .profile_table {
    display: block;
  }
  .search_title {
    margin: 3rem 1rem;
    font-size: 1.4rem;
  }
  .logo {
    width: 80%;
  }
  .comment_btn {
    width: 60%;
  }
  .comment_textArea {
    height: 70px !important;
  }
  .blog_category_header {
    margin: 3rem 1rem;
    font-size: 2rem;
  }
  .blog_category_count {
    color: #1187cf;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .blog_category_count {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */