@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*::-webkit-scrollbar {
  width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  line-height: 1.2;
}

html {
  overflow-x: hidden;
}

ol,
ul,
li {
  list-style: none;
}

li {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  font-size: 0.9rem;
}

@-webkit-keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

.profile_table {
  display: none;
}

.bouncer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  height: 100px;
}

.bouncer div {
  width: 20px;
  height: 20px;
  background-color: #0077ff;
  border-radius: 50%;
  -webkit-animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
          animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
  /* use https://cubic-bezier.com/ to customize the curve */
}

.bouncer div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0.8;
}

.bouncer div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0.6;
}

.bouncer div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0.4;
}

@-webkit-keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

li {
  margin-right: 0.5rem;
}

li:last-child {
  margin-right: 0;
}

ul {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

.selected .ant-timeline-item-head {
  border-color: #1187cf;
}

.slick-arrow {
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-arrow:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.slick-next {
  right: 1%;
}

.slick-next:hover {
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-next:hover::before {
  color: rgba(0, 0, 0, 0.5);
}

.slick-prev {
  left: 1%;
  z-index: 1;
}

.slick-prev:hover {
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-prev:hover::before {
  color: rgba(0, 0, 0, 0.5);
}

.static {
  position: static;
}

.public_btn {
  position: relative;
  border: none;
  background-color: #1187cf;
  color: white;
  border-radius: 3px;
  padding: 0.3rem 0;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.public_btn:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  content: "";
}

.public_btn:hover:before {
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #1187cf;
  border-right: none;
  border-bottom: none;
  -webkit-transition: height 0.4s, width 0.4s;
  transition: height 0.4s, width 0.4s;
}

.public_btn:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: none;
  content: "";
}

.public_btn:hover:after {
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #1187cf;
  border-left: none;
  border-top: none;
  -webkit-transition: height 0.4s, width 0.4s;
  transition: height 0.4s, width 0.4s;
}

.public_btn:hover {
  background-color: #fff;
  color: #1187cf;
}

.public_btn:focus {
  border: none;
  outline: none;
}

.public_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0);
}

.public_input:hover {
  border-bottom: 1px solid #1187cf;
}

.public_input:focus {
  outline: none;
  border-bottom: 1px solid #1187cf;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.blog {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog_main {
  width: 70%;
  margin-right: 2rem;
}

.blog_main_big {
  margin-bottom: 3rem;
  display: block;
}

.blog_main_count {
  padding: 0 1rem;
  margin: 2rem 0;
  font-size: 2rem;
}

.blog_main_count .count-number {
  color: #1187cf;
  font-size: 1rem;
  margin-left: 1rem;
}

.blog_header_small {
  display: none;
}

.blog_header_social {
  margin-right: 1rem;
}

.blog_header_logout {
  position: absolute;
  bottom: -2rem;
  right: 0;
  margin-right: 1.4rem;
}

.blog_header_login {
  position: absolute;
  bottom: -2rem;
  right: 1.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog_header_login .btn_login {
  margin-right: 1.5rem;
}

.blog_header_login .btn_google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_header_login .btn_google img {
  margin-left: 0.3rem;
  width: 0.9rem;
}

.blog_header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.blog_header_ul .icon {
  font-size: 1.5rem;
}

.blog_header_li {
  margin-right: 3rem;
}

.blog_header_li:last-child {
  margin-right: 0;
}

.blog_header_li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(transparent calc(100% - 1.5px), #1187cf 5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.blog_header_li a:hover {
  -webkit-animation: underLining 0.2s forwards;
          animation: underLining 0.2s forwards;
}

.blog_header_profile {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  position: relative;
}

.blog_header_nav {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.blog_header_small_nav {
  display: none;
}

.blog_aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_aside_tag {
  padding: 1rem;
}

.blog_aside_tag li {
  margin: 0.5rem 1rem 0.5rem 0;
}

.blog_aside_tag li:last-child {
  margin-right: 0;
}

.blog_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  width: 100%;
  height: 120px;
  background-color: #121212;
}

.blog_footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1120px;
  color: white;
  height: 100%;
  padding: 3rem 2rem;
}

.blog_footer_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.blog_footer_wrapper li a {
  color: white;
}

@media only screen and (max-width: 1120px) {
  .blog_footer_wrapper {
    width: 100%;
  }
}

.blog_footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_footer_content li {
  padding: 0.7rem 1.5rem;
}

.blog_post_article {
  width: 850px;
}

.blog_post_divier {
  width: 850px;
}

.blog_md_aside {
  display: none;
}

.pageWrapper {
  margin-top: 3rem;
  padding: 0 2rem;
  position: relative;
}

.pageWrapper .page {
  max-width: 1120px;
  margin: 0 auto;
}

.logo {
  width: 560px;
}

.space_small_on {
  height: 3rem;
  display: none;
}

.header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.header_logo {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
  background-color: white;
}

.youtube {
  width: 100%;
  height: 500px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_form {
  width: 45%;
}

.login_image {
  width: 45%;
}

.login_title {
  margin: 3rem 0;
}

.login_title h1 {
  font-size: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.login_title img {
  width: 100px;
  height: 100px;
}

.login_image {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.login_space {
  height: 5em;
}

.br_search {
  display: none;
}

.search_title {
  margin: 4rem 1rem;
  font-size: 2.3rem;
  line-height: 1.3;
}

.search_title span:first-of-type {
  color: #1187cf;
}

.search_title span:last-child {
  color: BLUE_COLOR;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.post_main_title {
  margin-top: 5rem;
  font-size: 3rem;
}

.tui-editor-contents h1 {
  font-size: 1.6rem;
  margin: 1.5rem 0;
}

.tui-editor-contents h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.tui-editor-contents h3 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.tui-editor-contents h4 {
  margin: 1.5rem 0;
}

.tui-editor-contents img {
  width: 65%;
}

.tui-editor-contents p {
  font-size: 0.9rem;
  line-height: 1.8;
  margin: 0;
  padding-bottom: 1rem;
}

.tui-editor-contents blockquote {
  border-left: 5px solid #1187cf;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.tui-editor-contents blockquote p {
  padding: 0;
}

.tui-editor-contents ul {
  list-style-type: disc;
  list-style: inherit;
  list-style-position: inside;
}

.tui-editor-contents ol {
  list-style-type: decimal;
  list-style: decimal;
  list-style-position: inside;
}

.tui-editor-contents li {
  display: list-item;
  list-style: inherit;
  list-style-position: inside;
}

.tui-editor-contents li p {
  padding: 0;
  display: initial;
}

.tui-editor-contents span {
  font-size: 1rem;
}

.tui-editor-contents [data-backticks] {
  background-color: #1187cf;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-right: 0.2rem;
  font-size: 0.7rem;
}

.tui-editor-contents pre {
  margin: 2px 0 8px;
  padding: 1rem;
  font-size: 0.83rem;
  line-height: 1.7;
  background-color: #f4f7f8;
}

.tui-editor-contents pre span {
  font-size: 0.83rem;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 3rem !important;
}

.fixed .ant-input {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

@media only screen and (max-width: 992px) {
  .blog {
    display: block;
  }
  .blog_main {
    width: 100%;
  }
  .blog_aside {
    display: none;
  }
  .blog_md_aside {
    display: block;
  }
}

@media only screen and (max-width: 830px) {
  .fixed {
    padding: 0 !important;
    z-index: 2;
  }
  .post_main_title {
    margin-top: 3rem;
    font-size: 2rem;
  }
  .pageWrapper {
    padding: 0 1rem;
  }
  .space_small_on {
    height: 3rem;
    display: block;
  }
  .header_logo {
    display: none;
  }
  .header_small_on {
    display: block;
  }
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login_form {
    width: 80%;
  }
  .login_image {
    width: 80%;
  }
  .blog_category_header {
    display: block;
  }
  .blog_post_article {
    width: 100%;
  }
  .blog_post_divier {
    width: 100%;
  }
  .blog_header_nav {
    display: none;
  }
  .blog_header_loginout {
    display: none;
  }
  .blog_header_small {
    display: block;
  }
  .blog_header_small_nav {
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    padding: 0 1rem;
    z-index: 2;
  }
  .slide_title {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    position: absolute;
    background-color: white;
    top: 68px;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 1;
    -webkit-animation: fadeIn 0.5s;
            animation: fadeIn 0.5s;
  }
  .slide_menu {
    width: 100%;
    padding: 1rem;
    position: absolute;
    background-color: white;
    top: 68px;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 1;
  }
  .slide_menu li {
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slide_menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }
}

@media only screen and (max-width: 768px) {
  .youtube {
    height: 400px;
  }
  .tui-editor-contents img {
    width: 100%;
  }
  .tui-editor-contents p {
    font-size: 13px;
  }
  .tui-editor-contents span {
    font-size: 13px;
  }
  .blog_footer_wrapper {
    display: block;
    padding: 1.5rem 1rem;
  }
  .blog_footer_wrapper div {
    text-align: center;
  }
  .blog_footer_wrapper ul {
    margin-top: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog_footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog_footer_content li {
    padding: 0.7rem 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .blog_aside_tag {
    padding: 0;
  }
  .youtube {
    height: 300px;
  }
  .poster_slider {
    width: 100%;
  }
  .profile_table {
    display: block;
  }
  .search_title {
    margin: 3rem 1rem;
    font-size: 1.4rem;
  }
  .login_title h1 {
    font-size: 2rem;
  }
  .login_title h3 {
    font-size: 0.8rem;
  }
  .login_title img {
    width: 50px;
    height: 50px;
  }
  .pageWrapper {
    position: relative;
  }
  .logo {
    width: 80%;
  }
  .comment_btn {
    width: 60%;
  }
  .comment_textArea {
    height: 70px !important;
  }
  .blog_category_header {
    margin: 3rem 1rem;
    font-size: 2rem;
  }
  .blog_category_count {
    color: #1187cf;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
  .blog_main_big {
    margin-bottom: 3rem;
    display: none;
  }
  .blog_main_small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 490px) {
  .blog_footer_list li a {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 400px) {
  .youtube {
    height: 200px;
  }
  .slide_menu li {
    font-size: 0.8rem;
  }
  .post_main_title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .blog_category_count {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */